/* ==================== ROOT ============ */
:root {
    --primary: #2563eb;
    --text-dark: #111827;
    --text-light: #6b7280;
    --bg: #ffffff;
    --card-bg: #f9fafb;
    --shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

}




body.dark {
    --primary: #60a5fa;
    --text-dark: #f9fafb;
    --text-light: #9ca3af;
    --bg: #0f172a;
    --card-bg: #111827;
    --shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

body,
.header,
.project-card,
.skill-card {
    transition: background-color 0.3s ease, color 0.3s ease;
}



/* =========== RESET (BASICS) ============ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============ GLOBAL ========== */
body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg);
    color: var(--text-dark);
    line-height: 1.6;

}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

section {
    padding: 80px 0;
}

.section-title {
    font-size: 32px;
    margin-bottom: 40px;
}

/* ============ BUTTONS ========== */

.btn-primary {
    background: var(--primary);
    color: #ffffff;
    padding: 12px 26px;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.3s;
    text-align: center;
}


.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(37, 99, 235, 0.35);
}


.btn-outline {
    border: 1px solid var(--text-light);
    color: var(--text-dark);
    padding: 12px 12px;
    border-radius: 8px;
}

.btn-outline:hover {
    background: var(--card-bg);
}



.btn-outline.small {
    padding: 8px 18px;
    font-size: 14px;
    text-align: center;
}


/* =========== HEADER SECTION ============= */
.header {
    padding: 24px 0;
}

.logo {

    font-size: 24px;
    font-weight: 600;


}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav-links a.active {
    color: var(--primary);
    font-weight: 500;
    position: relative;
}

.nav-links a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: var(--primary);
}

/* hidden by default */
.reveal {
    opacity: 0;
    transform: translateY(24px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* when visible */
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}


.theme-toggle {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/*========= HERO SECTION ========*/
.hero {
    display: flex;
    align-items: center;
    gap: 60px;
}

.hero-left h1 {
    font-size: 48px;
    line-height: 1.2;

}

.hero-left p {
    margin: 20px 0 30px;
    color: var(--text-light);
    max-width: 500px;
}

.hero-buttons {
    display: flex;
    gap: 30px;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.skill-card {
    background: var(--card-bg);
    padding: 30px;
    border-radius: 16px;

}

.skill-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}

.skill-card:hover .card-icon {
    transform: scale(1.08) rotate(4deg);
}


.card-icon {
    width: 52px;
    height: 52px;
    background: #eef2ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.card-icon img {
    width: 24px;
    height: 24px;
}


/* ========= PROJECTS ========*/
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.project-card {
    background: var(--card-bg);
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-card img {
    width: 100%;
    height: 220px;
    object-fit: contain;
}

.project-card a {
    margin-top: auto;

}


.project-card h4 {
    margin: 15px 0;

}

.project-card,
.skill-card,
.btn-primary,
.btn-outline {
    transition: all 0.25s ease;
}


.project-card:hover {
    transform: translateY(-6px);
    box-shadow: var(--shadow);
}



/* =========== ABOUT SECTION =========*/
.about p {
    max-width: 600px;
    margin-bottom: 10px;
    color: var(--text-light);

}

/* =========== CTA SECTION ===========*/
.cta {
    text-align: center;
    background: #f1f5f9;
    padding: 80px 20px;

}

.cta h2 {
    margin-bottom: 20px;

}

/*========= FOOTER SECTION ========*/
.footer {
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
    color: var(--text-light);

}

/*========== RESPONSIVE CODE =========*/
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hero {
        flex-direction: column;
        text-align: center;

    }

    .hero-buttons {
        justify-content: center;

    }

    .skill-grid,
    .project-grid {
        grid-template-columns: 1fr;

    }

    .hero-left h1 {
        font-size: 36px;
    }
}

@media (max-width: 1024px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .project-card {
        text-align: center;
    }

    .project-card img {
        height: 200px;
    }
}

/* =========== MEDIA (RESPONSIVE) AND Mobile per hover disable =====*/
@media (hover: none) {

    .project-card:hover,
    .skill-card:hover {
        transform: none;
        box-shadow: none;
    }
}
